*.iml
.gradle
/local.properties
local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin
app/build/
*.hprof
*.pyc
*.apk

# Signing credentials & keystores
*.keystore
*.jks
keystore.properties
